<a href="https://colab.research.google.com/github/imranttsia/imran/blob/master/String_Concatination_and_Formating_Introduction_to_python_batch_5_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

String Concatination and Formating - Assignment 1

In [1]:
name = "Syed Imran Ali"
age = 35
country = "Pakistan"

biodata = "My name is " + name + ", I am " + str(age) + ". I live in " + country

print(biodata)

My name is Syed Imran Ali, I am 35. I live in Pakistan

Assignment 2: String Formatting using `.format()`

In [2]:
item = "Book"
price = 750
quantity = 8

total_cost = price * quantity

string = """ I bought {} {}'s at {} each for a total of ${}""".format(quantity,item,price,total_cost)

print(total_cost)
print(string)

6000
 I bought 8 Book's at 750 each for a total of $6000

Assignment 3: String Interpolation using `f''`

In [3]:
city = "Karachi"
temperature = 29

string = f""" The temperature in {city} is {temperature}'c' """

print(string)

 The temperature in Karachi is 29'c'

Assignment 4: String Formatting using `%()`

In [4]:
first_name = "Syed Imran"
last_name = "Ali"
birth_year = 1988
current_year = 2023

age = current_year - birth_year

string = "My name is %s %s. I am %d years old" %(first_name,last_name,age)

print(age)
print(string)

35
My name is Syed Imran Ali. I am 35 years old

Assignment 5: Combining Formatting Methods

In [8]:
product_name = "Air conditioner"
discount_percentage = 70
orignal_price = 100000

discounted_price = orignal_price*(1 - discount_percentage/100)

string = f""" HOME APPLIANCE
Product Name \t = \t{product_name}
Discount Rate \t = \t{discount_percentage}
Orignal Price \t = \t{orignal_price}
Discounted Price = \t{discounted_price}
"""

print(string)

 HOME APPLIANCE
Product Name 	 = 	Air conditioner
Discount Rate 	 = 	70
Orignal Price 	 = 	100000
Discounted Price = 	30000.000000000004